{% extends "base.html" %}

{% block custom_css %}
{% endblock custom_css%}


{% block header%}
<div class="alert alert-primary" role="alert">
    {{ object.title }}
</div>
{% endblock header%}

{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>title: {{ object.title }}</p>
        <p>uploader: {{ object.author }}</p>
        <p>content: {{ object.content }}</p>
        <p><img src="{{ object.images.url }}" alt="{{ object.title }}" width="300"></p>
        <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">いいね:{{ object.good }}</a>
        <a href="{% url 'read' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">既読:{{ object.read }}人</a>
    </div>
    <a href="{% url 'list' %}" class="btn btn-secondary" role="button" aria-pressed="true">Listに戻る</a>
</div>

{% endblock content %}
